
body{
  font-family: "Lexend Deca", sans-serif;
background-image: url("./images/Js.jpg");
width: 1000px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
*{
    margin: 100;
    padding: 100;
}
h2{
    font-family: 'Courier New', monospace;
    
}
td, th {
  border: 1px solid #0e0d0d;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color:white;
}