:root {
  --bright-orange: hsl(49, 77%, 52%);
  --dark-cyan: hsl(88, 83%, 54%);
  --very-dark-cyan: hsl(298, 89%, 51%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button {
  font-family: "Lexend Deca", sans-serif;
  background-color: aqua;
}

h3 {
  font-family: "Big Shoulders Display", sans-serif;
  text-transform: uppercase;
  font-size: 50px;
}


.bright-orange {
  background-color: var(--bright-orange);
  color:black;
  border-radius: 50px 50px 0 0;
}

.bright-orange .btn {
  color: black;
}

.dark-cyan {
  background-color: var(--dark-cyan);
  color:black;
}

.dark-cyan .btn {
  color: var(--dark-cyan);
}

.very-dark-cyan {
  background-color: var(--very-dark-cyan);
  color:black;
  border-radius: 0 0 10px 10px;
}

.very-dark-cyan .btn {
  color: var(--very-dark-cyan);
}

.btn:hover {
  background-color: transparent;
  color: black;
}

.container {
  padding: 20px;
}

.card {
  padding: 30px;
}

.card img {
  margin-bottom: 25px;
}

.card h3 {
  margin-bottom: 20px;
}

.card p {
  margin-bottom: 30px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 992px) {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    max-width: 900px;
    margin: auto;
  }

  .bright-orange {
    border-radius: 10px 0 0 10px;
  }

  .very-dark-cyan {
    border-radius: 0 10px 10px 0;
  }

  .card {
    padding: 45px;
  }

  .card p {
    margin-bottom: 80px;
  }
}
