ol,
li {
    list-style: none;
  }
body {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 70%;
    margin: 0;
    padding: 0;
  }
header {
    background-color: #ce4049;
    background-image: url(../images/bg-pattern-intro.svg);
    background-position: -50vh -30vh;
    background-repeat: repeat;
    background-size: 195vh;
    border-bottom-left-radius: 100px;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    min-height: 90vh;
    min-width: 430px;
    position: relative;
  }
header ._gradient {
    background: #fe4c58;
    background: -webkit-gradient(linear, left top, left bottom, from(#fe4c58), color-stop(37%, rgba(254, 76, 88, 0.868785)), color-stop(80%, rgba(254, 76, 88, 0.753939)));
    background: linear-gradient(180deg, #fe4c58 0%, rgba(254, 76, 88, 0.868785) 37%, rgba(254, 76, 88, 0.753939) 80%);
    border-bottom-left-radius: 100px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fe4c58",endColorstr="#fe4c58",GradientType=1);
    min-height: 90vh;
    position: absolute;
    width: 100%;
  }
header nav {
    -ms-flex-align: center;
    -ms-flex-direction: row;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    align-items: center;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2em;
    max-width: 100%;
    min-width: 100%;
    position: absolute;
    width: 100%;
    z-index: 3;
  }
header nav .logo {
    padding: 2.5em;
    width: 70%;
  }
header nav .logo img {
    width: 7em;
  }
header nav .nav-toggle {
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    align-items: center;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    justify-content: center;
    width: 30%;
  }
header nav > ul {
    -ms-flex-align: center;
    -ms-flex-direction: column;
    -ms-flex-pack: center;
    -ms-flex-pack: start;
    -webkit-box-align: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    -webkit-box-pack: start;
    -webkit-box-shadow: 0 0 1.4em rgba(0, 0, 0, 0.342);
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 1.4em rgba(0, 0, 0, 0.342);
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    display: none;
    flex-direction: column;
    justify-content: center;
    justify-content: flex-start;
    min-height: 75vh;
    padding: 1.5em;
    position: fixed;
    top: 15%;
    width: 100%;
    width: 80%;
  }
header nav > ul .links {
    -ms-flex-align: center;
    -ms-flex-direction: column;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    align-items: center;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
header nav > ul .links li {
    width: 100%;
  }
header nav > ul .links li a {
    color: #000;
    display: block;
    font-family: "Overpass", sans-serif;
    font-size: 1rem;
    font-weight: bold;
    padding: 1em;
    text-align: center;
    text-decoration: none;
  }
header nav > ul .links li a img {
    -webkit-transition: 0.5s ease;
    padding-left: 0.5em;
    transition: 0.5s ease;
  }
header nav > ul .links li ul {
    background-color: #efeff1;
    display: none;
    padding: 0;
    width: 100%;
  }
header nav > ul .links li ul li {
    width: auto;
  }
header nav > ul .session {
    -ms-flex-align: center;
    -ms-flex-direction: column;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    align-items: center;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    width: 100%;
  }
header nav > ul .session a {
    border-radius: 30px;
    color: #000;
    display: block;
    font-family: "Overpass", sans-serif;
    font-size: 1rem;
    font-weight: bold;
    padding: 1em;
    text-align: center;
    text-decoration: none;
    width: 50%;
  }
header nav > ul .session .login {
    background-color: transparent;
  }
header nav > ul .session .sign-up {
    background-color: #ff4958;
    color: #fff;
  }
header .post-header {
    -ms-flex-align: center;
    -ms-flex-direction: column;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    align-items: center;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 90vh;
    min-height: 90vh;
    position: absolute;
    width: 100%;
    width: 100%;
  }
header .post-header h1 {
    color: #fff;
    font-family: "Overpass", sans-serif;
    font-size: 1.8rem;
    text-align: center;
    width: 80%;
  }
header .post-header p {
    color: rgba(255, 255, 255, 0.781);
    font-family: "Ubuntu", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
    width: 80%;
  }
header .post-header .started-btn {
    -ms-flex-align: center;
    -ms-flex-direction: row;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    align-items: center;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    justify-content: center;
    margin-top: 1em;
    width: 100%;
    width: 80%;
  }
header .post-header .started-btn a {
    border-radius: 30px;
    border: 2px solid transparent;
    color: #000;
    font-family: "Ubuntu", sans-serif;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 1em;
    text-align: center;
    text-decoration: none;
    width: 7em;
  }
header .post-header .started-btn .filled {
    background-color: #fff;
    color: #fe4c58;
  }
header .post-header .started-btn .empty {
    border: 1px solid #fff;
    color: #fff;
  }
main {
    -ms-flex-align: center;
    -ms-flex-direction: column;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    align-items: center;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 430px;
    width: 100%;
  }
main .content-wrapper {
    -ms-flex-align: center;
    -ms-flex-direction: column;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    align-items: center;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5em;
    margin-top: 6em;
    min-width: 400px;
    position: relative;
    width: 100%;
  }
main .content-wrapper h2 {
    color: #1b1818;
    font-family: "Overpass", sans-serif;
    font-size: 1.7rem;
    font-weight: 900;
    margin: auto;
    text-align: center;
    width: 70%;
  }
main .content-wrapper .picture-img {
    display: block;
    margin-bottom: 4em;
    margin-top: 4em;
    z-index: 2;
  }
main .content-wrapper .picture-img img {
    width: 100%;
  }
main .content-wrapper .content-text {
    color: rgba(49, 43, 43, 0.747);
    font-family: "Ubuntu", sans-serif;
    font-size: 1.1rem;
    margin: auto;
    min-width: 400px;
    text-align: center;
    width: 80%;
  }
main .content-wrapper .content-text h2 {
    margin-top: 2em;
  }
main .content-wrapper .content-text p {
    line-height: 2;
  }
main .content-wrapper .picture-img.img_text {
    margin-bottom: 5vh;
    position: absolute;
    top: -30vh;
  }
main .content-wrapper .picture-img.img_text img {
    width: 380px;
  }
main .content-wrapper .content-text.bg_pattern {
    background-color: #1c1d29;
    background-color: linear-gradient(90deg, #1c1d29 0%, #34374f 50%, #3a3d5c 100%);
    background-image: url(../images/bg-pattern-circles.svg);
    background-position: -25vh -42vh;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
    min-height: 130vh;
    width: 100%;
  }
main .content-wrapper .content-text.bg_pattern h2,
main .content-wrapper .content-text.bg_pattern p {
    margin: auto;
    width: 80%;
  }
main .content-wrapper .content-text.bg_pattern h2 {
    color: #fff;
    font-family: "Overpass", sans-serif;
    font-size: 2.1rem;
    font-weight: 700;
    margin-bottom: 1em;
    margin-top: 40vh;
    text-align: center;
  }
main .content-wrapper .content-text.bg_pattern p {
    color: #ccb7b7;
    font-family: "Ubuntu", sans-serif;
    font-size: 1rem;
    text-align: center;
  }
main .content-wrapper.wrapper_filled {
    margin-top: 60%;
  }
footer {
    background-color: #24242c;
    border-top-right-radius: 140px;
    min-width: 410px;
    padding: 1em;
  }
footer h2 {
    color: #fff;
    font-family: "Overpass", sans-serif;
    font-size: 2.8rem;
    text-align: center;
    width: 100%;
  }
footer .section {
    -ms-flex-align: center;
    -ms-flex-direction: column;
    -webkit-box-align: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    align-items: center;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
footer .section h3 {
    color: #fff;
    font-family: "Ubuntu", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    padding: 1em;
    text-align: center;
  }
footer .section a {
    color: rgba(216, 199, 199, 0.877);
    font-family: "Ubuntu", sans-serif;
    font-size: 0.9rem;
    text-align: center;
    text-decoration: none;
  }
footer .attribution {
    color: #fff;
    font-family: "Overpass", sans-serif;
    font-size: 0.7rem;
    text-align: center;
  }
footer .attribution h3 {
    color: #fff;
    font-family: "Overpass", sans-serif;
    font-size: 1rem;
    padding: 1em;
    text-align: center;
  }
footer .attribution a {
    color: #2f9389;
    line-height: 2;
  }
@media (min-width: 1000px) {
    body::-webkit-scrollbar {
      width: 12px;
    }
    body::-webkit-scrollbar-thumb {
      background-color: #d7d7df;
      border-radius: 20px;
    }
    body::-webkit-scrollbar-track {
      background: white;
    }
    empty:hover {
      background-color: #fff;
      color: #ff4958;
    }
    filled:hover {
      background-color: #fd7b87;
      color: #fff;
    }
    sign-up:hover {
      background-color: #fd7b87;
      color: #fff;
    }

  header nav {
      margin-top: 5em;
    }
  header nav .logo {
      padding-right: 4em;
      width: 6%;
    }
  header nav .nav-toggle {
      display: none;
    }
  header nav ul {
      -ms-flex-align: center;
      -ms-flex-direction: row;
      -ms-flex-pack: center;
      -webkit-box-align: center;
      -webkit-box-direction: normal;
      -webkit-box-orient: horizontal;
      -webkit-box-pack: center;
      -webkit-box-shadow: none;
      align-items: center;
      background-color: transparent;
      box-shadow: none;
      display: -ms-flexbox;
      display: -webkit-box;
      display: flex;
      flex-direction: row;
      justify-content: center;
      min-height: auto;
      padding: 0;
      position: initial;
      width: 100%;
      width: 70%;
    }
  header nav ul .links {
      -ms-flex-align: start;
      -ms-flex-direction: row;
      -ms-flex-pack: start;
      -webkit-box-align: start;
      -webkit-box-direction: normal;
      -webkit-box-orient: horizontal;
      -webkit-box-pack: start;
      align-items: flex-start;
      flex-direction: row;
      gap: 0;
      justify-content: flex-start;
    }
  header nav ul .links li {
      width: auto;
    }
  header nav ul .links li ul {
      -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 0.342);
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 0 1em rgba(0, 0, 0, 0.342);
      display: none;
      position: absolute;
      width: 13%;
    }
  header nav ul .links li ul a {
      color: #000;
      text-align: left;
    }
  header nav ul .links li a {
      color: #fff;
    }
  header nav ul .links li img {
      padding-left: 0.5em;
    }
  header nav ul .session {
      box-direction: normal;
      box-orient: horizontal;
      flex-direction: row;
      padding-right: 6em;
      width: 50%;
    }
  header nav ul .session .login {
      background-color: transparent;
      color: #fff;
    }
  header nav ul .session .sign-up {
      background-color: #fff;
      color: #ff4958;
    }
  header nav ul .session .post-header h1 {
      font-size: 3rem;
    }
  header .post-header.started-btn
  main {
      overflow: hidden;
    }
  main .content-wrapper {
      box-direction: reverse;
      box-orient: horizontal;
      flex-direction: row-reverse;
      position: relative;
    }
  main .content-wrapper > h2 {
      position: absolute;
      top: 0;
    }
  main .content-wrapper .picture-img {
      -ms-flex-align: center;
      -webkit-box-align: center;
      align-items: center;
      display: -ms-flexbox;
      display: -webkit-box;
      display: flex;
      position: relative;
      width: 50%;
    }
  main .content-wrapper .picture-img img {
      position: absolute;
      right: -7rem;
      width: 700px;
    }
  main .content-wrapper .content-text {
      margin-top: 3em;
      padding: 6em;
      text-align: left;
      width: 50%;
    }
  main .content-wrapper .picture-img.img_text {
      left: 10%;
      position: absolute;
      top: -15%;
      width: 40%;
    }
  main .content-wrapper .picture-img.img_text img {
      display: block;
      margin: 0;
      position: initial;
      width: 90%;
    }
  main .content-wrapper .content-text.bg_pattern {
      align-items: flex-end;
      background-position: -500px -900px;
      box-align: end;
      box-direction: normal;
      box-orient: vertical;
      display: -ms-flexbox;
      display: -webkit-box;
      display: flex;
      flex-direction: column;
      min-height: 30vh;
      width: 100%;
    }
  main .content-wrapper .content-text.bg_pattern h2,
  main .content-wrapper .content-text.bg_pattern p {
      margin: 0;
      text-align: left;
      width: 50%;
    }
  main .content-wrapper .content-text.bg_pattern h2 {
      margin-top: 4vh;
    }
  main .content-wrapper .content-text.bg_pattern p {
      font-size: 1.1rem;
      margin-bottom: 4vh;
    }
  main .content-wrapper.wrapper_filled {
      -ms-flex-align: end;
      -ms-flex-pack: end;
      -webkit-box-align: end;
      -webkit-box-pack: end;
      align-items: flex-end;
      justify-content: flex-end;
      margin-top: 0;
    }
  main .content-wrapper.content-fin {
      -ms-flex-flow: row;
      -webkit-box-direction: normal;
      -webkit-box-orient: horizontal;
      flex-flow: row;
    }
  main .content-wrapper.content-fin .picture-img img {
      left: -36%;
    }
  footer {
      box-direction: normal;
      box-orient: horizontal;
      display: -ms-flexbox;
      display: -webkit-box;
      display: flex;
      flex-direction: row;
      position: relative;
    }
  footer h2 {
      width: 30%;
    }
  footer .section {
      width: 20%;
    }
  footer .section a {
      padding: 1em;
    }
  footer .attribution {
      bottom: 2em;
      position: absolute;
      right: 2em;
      width: 20%;
    }
  }