header .header-top nav {
      width: 90%;
  }  
  header .header-top nav .triangle {
      border-bottom: 40px solid white;
      border-left: 35px solid transparent;
      border-right: 0px solid transparent;
      display: none;
      height: 0px;
      position: absolute;
      right: 10%;
      top: 5em;
      width: 0px;
  }  
  header .header-top nav img {
      display: block;
      padding: 2em;
  }  
  header .header-top nav ul {
      -ms-flex-align: center;
      -ms-flex-direction: column;
      -ms-flex-pack: center;
      -webkit-box-align: center;
      -webkit-box-direction: normal;
      -webkit-box-orient: vertical;
      -webkit-box-pack: center;
      align-items: center;
      background-color: #ffffff;
      display: none;
      flex-direction: column;
      height: 60vh;
      justify-content: center;
      padding: 0em;
      position: absolute;
      right: 10%;
      top: 80%;
      width: 80%;
  }  
  header .header-top nav ul li {
      -ms-flex-pack: center;
      -webkit-box-pack: center;
      display: -ms-flexbox;
      display: -webkit-box;
      display: flex;
      justify-content: center;
  }  
  header .header-top nav ul li a {
      color: #2d7466;
      display: block;
      font-size: 1rem;
      padding: 1em;
      text-align: center;
      width: 100%;
  }  
  header .header-top nav ul li .contact {
      background-color: #fbd601;
      color: #1b1d1c;
      margin: 0;
      width: 100%;
  }  
  header .icon-wrap h1 {
      font-size: 2rem;
      text-align: center;
  }  
  main article {
      -ms-flex-direction: column;
      -webkit-box-direction: normal;
      -webkit-box-orient: vertical;
      flex-direction: column;
  }  
  main article section {
      width: 100%;
  }  
  main article section h1 {
      font-size: 2rem;
      text-align: center;
      width: 90%;
  }  
  main article section p {
      font-size: 1.6rem;
      text-align: center;
      width: 90%;
  }  
  main article section a {
      font-size: 1.5rem;
      margin: 0;
      text-align: center;
  }  
  main article .img-article {
      width: 100%;
  }  
  main #article_1 {
      -ms-flex-flow: column-reverse;
      -webkit-box-direction: reverse;
      -webkit-box-orient: vertical;
      flex-flow: column-reverse;
  }  
  main .article-footer .footer-box {
      width: 100%;
  }  
  main .article-footer .footer-box .img-text {
      -ms-flex-pack: end;
      -webkit-box-pack: end;
      height: 100%;
      justify-content: flex-end;
  }  
  main .article-footer .footer-box .img-text h1 {
      font-size: 2rem;
  }  
  main .article-footer .footer-box .img-text p {
      font-size: 1rem;
      width: 90%;
  }  
  main .client-testimonials .testimonial-content {
      -ms-flex-direction: column;
      -webkit-box-direction: normal;
      -webkit-box-orient: vertical;
      display: -ms-flexbox;
      display: -webkit-box;
      display: flex;
      flex-direction: column;
  }  
  main .client-testimonials .testimonial-content .testimonial-card {
      width: 100%;
  }  
  main .client-testimonials .testimonial-content .testimonial-card img {
      margin-top: 2em;
  }  
  main .client-testimonials .testimonial-content .testimonial-card p {
      font-size: 1.5rem;
  }  
  main .client-testimonials .testimonial-content .testimonial-card h2 {
      font-size: 2rem;
  }  
  main .clipper {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  }  
  main .clipper img {
      width: 50%;
  }
  /*# sourceMappingURL=styles.mobile.css.map */