
html, body {
      flex: auto;
      font-family: 'Inter', sans-serif;
      font-size: 14px;
    margin:0;
    padding:0;
  }
h1 {
      font-size: 40px;
      position: relative;
      top: 20px;
  }
h2 {
      color: hsl(228, 12%, 44%);
      font-size: 28px;
      position: relative;
      top: -100px;
  }
h3 {
      color: hsl(228, 12%, 44%);
      font-size: 16px;
      position: relative;
      top: 0px;
  }
p {
      color: hsl(228, 12%, 44%);
      position: relative;
  }
.attribution {
 font-size: 11px;
 text-align: center;
}
.attribution a {
 color: hsl(228, 45%, 44%);
}
/* #endregion */
/* #region Header*/
header {
      background-color: hsl(225, 100%, 98%);
      display: inline-block;
      height: 280px;
      width: 100%;
  }
hr {
      display: none;
  }
.color-toggle {
      display: flex;
      float: right;
      position: relative;
      top: -83px;
      width: 180px;
  }
.header-wrapper {
      margin-left: auto;
      margin-right: auto;
      max-width: 1280px;
  }
.toggle {
      color: hsl(228, 12%, 44%);
      flex: auto;
      font-size: 19px;
      font-weight: bold;
      margin-bottom: auto;
      margin-top: auto;
  }
.switch {
      display: inline-block;
      height: 32px;
      margin-bottom: auto;
      margin-top: auto;
      position: relative;
      transform: rotate(180deg);
      width: 70px;
  }  
  .switch input {
       height: 0;
       opacity: 0;
       width: 0;
   }  
  .slider {
      -webkit-transition: .4s;
      background-color: hsl(228, 12%, 44%);
      background-image: none;
      bottom: 0;
      cursor: pointer;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: .4s;
  }  
  .slider:before {
      -webkit-transition: .4s;
      background-color: #20222f;
      bottom: 3px;
      content: "";
      height: 26px;
      left: 6px;
      position: absolute;
      transition: .4s;
      width: 26px;
  }  
  input:checked + .slider {
        background-color: #3f95cd;
        background-image: linear-gradient(to right, #3f95cd , #3ecc8e);

     /* For browsers that do not support gradients */
    }  
  input:focus + .slider {
      box-shadow: 0 0 1px hsl(228, 12%, 44%);
  }  
  input:checked + .slider:before {
      -ms-transform: translateX(32px);
      -webkit-transform: translateX(32px);
      background-color: white;
      transform: translateX(32px);
  }  
  /* Rounded sliders */
  .slider.round {
      border-radius: 34px;
  }  
  .slider.round:before {
      border-radius: 50%;
  }
/* #endregion */
/* #region Top KPIs*/
.kpi-card {
      background: #ebf1ff;
      border-radius: 8px;
      height: 250px;
      margin: 10px;
      width: 300px;
  }
.kpi-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      margin-left: auto;
      margin-right: auto;
      max-width: 1280px;
      position: relative;
      top: -120px;
  }
.card-top-facebook {
      background-color: #168ff7;
      border-radius: 8px 8px 0px 0px;
      height: 5px;
      width: 300px;
  }
.card-top-twitter {
      background-color: #1da1f3;
      border-radius: 8px 8px 0px 0px;
      height: 5px;
      width: 300px;
  }
.card-top-instagram {
      background-color: #e74f98;
      background-image: linear-gradient(to right, #ffbd67 , #e74f98);
      border-radius: 8px 8px 0px 0px;
      height: 5px;
      width: 300px;

     /* For browsers that do not support gradients */
  }
.card-top-youtube {
      background-color: #c30028;
      border-radius: 8px 8px 0px 0px;
      height: 5px;
      width: 300px;
  }
.kpi-card-top {
      display: grid;
      grid-template-columns: 1fr 1.2fr;
      padding-top: 20px;
  }
.icon {
      margin-bottom: auto;
      margin-top: auto;
  }
.handle {
      margin-bottom: auto;
      margin-top: auto;
  }
img {
      height: 25px;
  }
.icon {
      padding-right: 10px;
      text-align: right;
  }
.kpi {
      font-size: 65px;
      font-weight: bold;
      text-align: center;
  }
.unit-of-measure {
      color: hsl(228, 12%, 44%);
      font-weight: normal;
      letter-spacing: 6px;
      position: relative;
      text-align: center;
      top: -20px;
  }
.delta {
      text-align: center;
  }
.up {
      color: #10bf66;
      font-weight: bold;
  }
.down {
      color: red;
      font-weight: bold;
  }
/* #endregion */
/* #region Overview*/
.overview-header {
      margin-left: auto;
      margin-right: auto;
      max-width: 1280px;
  }
.overview-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      margin-left: auto;
      margin-right: auto;
      max-width: 1280px;
      position: relative;
  }
.kpi-small {
      background: #ebf1ff;
      border-radius: 5px;
      display: grid;
      grid-template-columns: 3fr 1.3fr;
      grid-template-rows: 1fr 1fr;
      height: 150px;
      margin: 10px;
      width: 300px;
  }
.overview-kpis {
      align-content: space-evenly;
      margin-left: auto;
      margin-right: auto;
      max-width: 1280px;
      position: relative;
      top: -110px;
      width: 100%;
  }
.page-views {
      color: hsl(228, 12%, 44%);
      font-size: 16px;
      padding-left: 40px;
      padding-top: 34px;
  }
.logo {
      padding-left: 20px;
      padding-right: 30px;
      padding-top: 30px;
      text-align: right;
  }
.views {
      font-size: 35px;
      font-weight: bold;
      padding-left: 40px;
      padding-top: 5px;
  }
.movement {
      padding-right: 30px;
      padding-top: 25px;
      text-align: right;
  }
/* #endregion */
/* #region Max width 1355px*/
@media (max-width: 1355px) {
    h1 {
          margin-left: 20px;
      }
    h3 {
          margin-left: 20px;
      }
    h2 {
          margin-left: 20px;
      }
    .color-toggle {
          margin-right: 20px;
      }
  }
/* #endregion */
/* #region Max width 700px*/
@media (max-width: 700px) {
    h1 {
          font-size: 29px;
          margin-left: 20px;
          padding-right: 10px;
          transition: ease-in-out 0.5s;
      }
    .color-toggle {
          float: left;
          margin-left: 20px;
          top: 30px;
          transition: ease-in-out 0.5s;
          width: 90%;

        /*   */
      }
    .kpi-wrapper {
          top: -30px;
          transition: ease-in-out 0.5s;
      }
    hr {
          display: block;
          position: relative;
          top: 20px;
          width: 90%;
      }
    h3 {
          top: 10px;
      }
    header {
          background-color: white;
          transition: ease-in-out 0.5s;
      }
    h2 {
          padding-bottom: 70px;
          padding-left: 20px;
          top: 0px;
      }
    .overview-kpis {
          top: -80px;
      }
  }
@media (max-width: 640px) {
    .kpi-card {
          width: 350px;
      }
    .kpi-small {
          width: 350px;
      }
    .card-top-facebook {
          width: 350px;
      }
    .card-top-twitter {
          width: 350px;
      }
    .card-top-instagram {
          width: 350px;
      }
    .card-top-youtube {
          width: 350px;
      }
  }
