body {
      background-color: #c5e4e7;
  }  
  input[type="number"] {
      background-color: #f3f8fb;
      border-radius: 5px;
      border: 3px solid transparent;
      color: #576666;
      display: block;
      font-family: "Space Mono", monospace;
      font-size: 1.1rem;
      font-weight: 700;
      outline: none;
      padding: 0.3em;
      text-align: end;
      width: 90%;
  }  
  input[type="number"]:focus {
      border: 3px solid #4b9b90;
  }  
  input[type="number"]::-webkit-input-placeholder {
      color: #23bea6;
      font-weight: 500;
  }  
  input[type="number"]:-ms-input-placeholder {
      color: #23bea6;
      font-weight: 500;
  }  
  input[type="number"]::-ms-input-placeholder {
      color: #23bea6;
      font-weight: 500;
  }  
  input[type="number"]::placeholder {
      color: #23bea6;
      font-weight: 500;
  }  
  input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      appearance: none;
  }  
  body header {
      -ms-flex-align: center;
      -ms-flex-pack: center;
      -webkit-box-align: center;
      -webkit-box-pack: center;
      align-items: center;
      display: -ms-flexbox;
      display: -webkit-box;
      display: flex;
      justify-content: center;
      margin-top: 12vh;
      width: 100%;
  }  
  body main {
      display: block;
      height: 100%;
      margin: auto;
      padding: 0;
      width: 60%;
  }  
  body main .splitter-body {
      -ms-flex-align: center;
      -ms-flex-direction: row;
      -webkit-box-align: center;
      -webkit-box-direction: normal;
      -webkit-box-orient: horizontal;
      align-items: center;
      background-color: #fefffe;
      border-radius: 10px;
      display: -ms-flexbox;
      display: -webkit-box;
      display: flex;
      flex-direction: row;
      font-family: "Space Mono", monospace;
      height: 50%;
      margin-top: 2em;
      padding: 1em;
      width: 100%;
  }  
  body main .splitter-body .splitter-input,
  body main .splitter-body .splitter-output {
      -ms-flex-direction: column;
      -webkit-box-direction: normal;
      -webkit-box-orient: vertical;
      display: -ms-flexbox;
      display: -webkit-box;
      display: flex;
      flex-direction: column;
  }  
  body main .splitter-body .splitter-input {
      padding: 1em;
      width: 60%;
  }  
  body main .splitter-body .splitter-input .input-box {
      -ms-flex-direction: column;
      -webkit-box-direction: normal;
      -webkit-box-orient: vertical;
      color: #576666;
      display: -ms-flexbox;
      display: -webkit-box;
      display: flex;
      flex-direction: column;
      margin-top: 2em;
      position: relative;
      width: 100%;
  }  
  body main .splitter-body .splitter-input .input-box label {
      font-weight: 700;
  }  
  body main .splitter-body .splitter-input .input-box .input-enter {
      -ms-flex-align: center;
      -webkit-box-align: center;
      align-items: center;
      display: -ms-flexbox;
      display: -webkit-box;
      display: flex;
      position: relative;
      width: 100%;
  }  
  body main .splitter-body .splitter-input .input-box .input-enter img {
      left: 1em;
      position: absolute;
  }  
  body main .splitter-body .splitter-input .input-box h2 {
      font-size: 1rem;
  }  
  body main .splitter-body .splitter-input .input-box .input-tip {
      -ms-flex-align: center;
      -ms-flex-wrap: wrap;
      -webkit-box-align: center;
      align-items: center;
      display: -ms-flexbox;
      display: -webkit-box;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
  }  
  body main .splitter-body .splitter-input .input-box .input-tip .tip-enter {
      -ms-flex-align: center;
      -ms-flex-pack: center;
      -webkit-box-align: center;
      -webkit-box-pack: center;
      align-items: center;
      display: -ms-flexbox;
      display: -webkit-box;
      display: flex;
      justify-content: center;
      text-align: center;
  }  
  body main .splitter-body .splitter-input .input-box .input-tip .tip-enter label {
      background-color: #00494d;
      border-radius: 5px;
      color: #fff;
      cursor: pointer;
      margin: 0.5em;
      padding: 0.6em;
      width: 6em;
  }  
  body main .splitter-body .splitter-input .input-box .input-tip .tip-enter input[type="radio"] {
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      position: absolute;
  }  
  body main .splitter-body .splitter-input .input-box .input-tip .tip-enter input[type="radio"]:checked + label {
      background-color: #7c9292;
      color: #00494d;
  }  
  body main .splitter-body .splitter-input .input-box .input-tip .tip-enter input[type="radio"]:hover + label {
      background-color: #9ce7dd;
      color: black;
  }  
  body main .splitter-body .splitter-input .input-box .input-tip .tip-enter input[type="number"] {
      font-weight: bold;
      text-align: center;
      width: 100%;
  }  
  body main .splitter-body .splitter-input .input-box .input-tip .tip-enter ::-webkit-input-placeholder {
      color: #576666;
      font-weight: 800;
  }  
  body main .splitter-body .splitter-input .input-box .input-tip .tip-enter :-ms-input-placeholder {
      color: #576666;
      font-weight: 800;
  }  
  body main .splitter-body .splitter-input .input-box .input-tip .tip-enter ::-ms-input-placeholder {
      color: #576666;
      font-weight: 800;
  }  
  body main .splitter-body .splitter-input .input-box .input-tip .tip-enter ::placeholder {
      color: #576666;
      font-weight: 800;
  }  
  body main .splitter-body .splitter-input .input-box .input-tip #tip-custom {
      background-color: transparent;
      margin-left: 0.4em;
      padding: 0;
      width: 7.3em;
  }  
  body main .splitter-body .splitter-input .input-box .error {
      color: #c47968;
      display: none;
      font-weight: 700;
      position: absolute;
      right: 1.5em;
  }  
  body main .splitter-body .splitter-output {
      -ms-flex-pack: start;
      -webkit-box-pack: start;
      background-color: #00494d;
      border-radius: 10px;
      justify-content: flex-start;
      min-height: 100%;
      padding: 2em;
      width: 40%;
  }  
  body main .splitter-body .splitter-output .output-box {
      -ms-flex-direction: row;
      -webkit-box-direction: normal;
      -webkit-box-orient: horizontal;
      display: -ms-flexbox;
      display: -webkit-box;
      display: flex;
      flex-direction: row;
  }  
  body main .splitter-body .splitter-output .output-box .output-text {
      -ms-flex-align: start;
      -ms-flex-direction: column;
      -ms-flex-pack: center;
      -webkit-box-align: start;
      -webkit-box-direction: normal;
      -webkit-box-orient: vertical;
      -webkit-box-pack: center;
      align-items: flex-start;
      display: -ms-flexbox;
      display: -webkit-box;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;
  }  
  body main .splitter-body .splitter-output .output-box .output-text h1 {
      color: #fff;
      font-size: 1rem;
      margin: 0;
      padding: 0;
  }  
  body main .splitter-body .splitter-output .output-box .output-text span {
      color: #23bea6;
  }  
  body main .splitter-body .splitter-output .output-box .output-result {
      -ms-flex-align: center;
      -ms-flex-direction: row;
      -ms-flex-pack: center;
      -webkit-box-align: center;
      -webkit-box-direction: normal;
      -webkit-box-orient: horizontal;
      -webkit-box-pack: center;
      align-items: center;
      display: -ms-flexbox;
      display: -webkit-box;
      display: flex;
      flex-direction: row;
      justify-content: center;
  }  
  body main .splitter-body .splitter-output .output-box .output-result img {
      display: inline-block;
      width: 20px;
  }  
  body main .splitter-body .splitter-output .output-box .output-result h1 {
      color: #23bea6;
      display: inline-block;
      font-size: 2rem;
  }  
  body main .splitter-body .splitter-output button {
      background-color: #0d6468;
      border-radius: 5px;
      border: none;
      color: #00494d;
      cursor: not-allowed;
      display: block;
      font-family: "Space Mono", monospace;
      font-weight: 700;
      margin-top: 8em;
      padding: 0.8em;
  }  
  body main .splitter-body .splitter-output button.btn-active {
      background-color: #26c0a9;
  }  
  body main .splitter-body .splitter-output .btn-active:hover {
      background-color: #9ce7dd;
  }  
  @media (max-width: 910px) {
    body {
        margin: 0 !important;
    }
    main {
        height: 100% !important;
        width: 100% !important;
    }
    .splitter-body {
        -ms-flex-direction: column !important;
        -webkit-box-direction: normal !important;
        -webkit-box-orient: vertical !important;
        flex-direction: column !important;
        padding: 0em !important;
        width: 100% !important;
    }
    .splitter-body .splitter-input {
        padding: 0em !important;
        width: 85% !important;
    }
    .splitter-body .splitter-input .input-box .error {
        font-size: .6rem !important;
    }
    .splitter-body .splitter-output {
        margin: 1em !important;
        width: 65% !important;
    }
    .splitter-body button {
        margin-top: 1em !important;
    }
  }
  /*# sourceMappingURL=styles.css.map */