@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
  }
body {
      background-color: hsl(225, 100%, 94%);
      background-image: url(pattern.svg);
      background-repeat: no-repeat;
      background-size: cover;
      font-family: 'Red Hat Display',sans-serif;
      font-size: 16px;
      min-height: 100vh;
      position: relative;
  }
.container {
      background: white;
      border-radius: 20px;
      left: 50%;
      max-width: 450px;
      overflow: hidden;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
  }
.text-content {
      padding: 7%;
      text-align: center;
  }
.title {
      color: hsl(223, 47%, 23%);
      font-size: 32px;
      font-weight: 900;
      margin-bottom: 20px;
  }
.text-content p.subtitle {
      color: #8a8a8a;
      margin-bottom: 25px;
  }
.plan-box {
      align-items: center;
      background-color: hsl(225, 100%, 98%);
      border-radius: 12px;
      display: flex;
      justify-content: space-between;
      padding: 25px;
  }
.plan-box-left {
      align-items: center;
      display: flex;
      text-align: left;
  }
.plan-box-left div {
      margin-left: 20px;
  }
.plan-box-left div h5 {
      color: hsl(223, 47%, 23%);
      font-size: 15px;
      font-weight: 900;
  }
.plan-box-left div p {
      color: #8a8a8a;
      font-size: 14px;
  }
.plan-box a {
      color: hsl(223, 47%, 23%);
      font-weight: 900;
      transition: color .3s ease;
  }
.plan-box a:hover {
      color: hsl(245, 75%, 52%);
      text-decoration: none;
  }
a.proceed-btn {
      background-color: hsl(245, 75%, 52%);
      border-radius: 12px;
      color: white;
      display: block;
      margin: 30px 0;
      padding: 20px 0;
      text-decoration: none;
      transition: background-color .3s ease;
  }
a.proceed-btn:hover {
      background-color: hsl(224, 23%, 55%);
  }
a.cancel-btn {
      color: hsl(224, 23%, 55%);
      font-weight: 900;
      text-decoration: none;
      transition: color .3s ease;
  }
a.cancel-btn:hover {
      color: hsl(223, 47%, 23%);
  }
@media only screen and (max-width: 425px) {
    body {
          background-image: url(https://www.digitshack.com/codepen/mentor1/pattern-background-mobile.svg);
          font-size: 14px;
      }
    .container {
          max-width: 87%;
      }
    .title {
          font-size: 23px;
      }
    div.plan-box {
          padding: 12px;
      }
    .plan-box-left div {
          margin-left: 10px;
      }
    a.proceed-btn,
    a.cancel-btn,
    .plan-box a {
          font-size: 13px;
      }
    .text-content {
          padding: 9% 7%;
      }
  }
/* Youtube link */
.link {
      background-color: #D12322;
      border-radius: 5px;
      color: #FFF;
      font-size: 18px;
      font-weight: 500;
      padding: 23px 40px;
      position: fixed;
      right: -87px;
      text-decoration: none;
      text-transform: capitalize;
      top: 50%;
      transform: rotate(-90deg);
      transform: translateY(-50%);
      transition: all .1s ease-in-out;
  }
.link i {
      padding-left: 7px;
  }
.link:hover {
      background-color: black;
      text-decoration: underline;
  }